<div class="main-textgrids">
  <div class="container">
    <div id="furnitures_table">
      <%= render partial: 'form_furnitures', locals: {furnitures: @furnitures} %>
    </div>
    <div id="appliances_table">
      <%= render partial: 'from_appliances', locals: {appliances: @appliances} %>
    </div>
  </div>
</div>