<% if session[:furniture].blank? && session[:appliance].blank? %>
$('#furnitures_table').html('<h4>Ваша Корзина Пуста</h4>');
$('.total-index-cart').remove();
<% else %>
$('#furnitures_table').html('<%= escape_javascript(render partial: 'carts/form_furnitures', locals: {furnitures: @furnitures}) %>');
setTimeout(function(){
  var price = 0;
  $.each($('.product-cart-price'), function( index, value ) {
    price += +$(value).html()
  });
  $('#total-cart-price').html('Итого: ' + Math.round(price) + ' р.')
}, 10);
<% end %>
