

<div id="gallery" class="Gallery">
  <div class="container">
    <div class="section group">
    <div class="col-md-6 gallery-box">
      <div id="nivo-lightbox-demo"> <p> <a href="assets/b1.png"data-lightbox-gallery="gallery1" id="nivo-lightbox-demo"> <span class="rollover1"> </span></a> </p></div>
      <img src="assets/b1.png" alt="">
    </div>
    <div class="col-md-6 gallery-box">
        <div id="nivo-lightbox-demo"> <p> <a href="assets/b2.png" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo"> <span class="rollover1"> </span></a> </p></div>
        <img src="assets/b2.png" alt="">
    </div>
    </div>
    <div class="section group">
      <div class="col-md-6 gallery-box">
        <div id="nivo-lightbox-demo"> <p> <a href="assets/b3.png" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">  <span class="rollover1"> </span></a> </p></div>
        <img src="assets/b3.png" alt="">
      </div>
      <div class="col-md-6 gallery-box">
        <div id="nivo-lightbox-demo"> <p> <a href="assets/b4.png" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">  <span class="rollover1"> </span></a> </p></div>
        <img src="assets/b4.png" alt="">
      </div>
      <div class="clearfix"> </div>
    </div>
    <script type="text/javascript">
      $(document).ready(function(){
        $('#nivo-lightbox-demo a').nivoLightbox({ effect: 'fade' });
      });
    </script>
    <div class="lets-head">
      <h1>popularised in the 1960s with the release of Letraset sheets</h1>
      <a class="button curl-bottom-right" href="#">Let's go</a>
    </div>
  </div>
</div>
	<!--//End-Gallery-->
	<div id="service" class="services">
			<div class="container">
				<div class="service-grides">
			 			<div class="col-md-5 service-section1">
			 				<div class="service-gride1">
				 				<div class="col-md-3 service-img">
				 					<i class="icon1"> </i>
								</div>
				 				<div class="col-md-9 service-text ">
				 					<h4>desktop publishing</h4>
									<p>It is a long established fact that a reader will be distracted
									by the readable content of a page when looking at its layout.</p>
									<a class="read-more" href="online.html">Read More</a>
				 				</div>
				 				<div class="clearfix"> </div>
			 				</div>
			 				<div class="service-gride1">
				 				<div class="col-md-3 service-img">
				 					<i class="icon2"> </i>
								</div>
				 				<div class="col-md-9 service-text ">
				 					<h4>mollit anim id  </h4>
				 					<p>It is a long established fact that a reader will be distracted
									by the readable content of a page when looking at its layout.</p>
									<a class="read-more" href="online.html">Read More</a>
				 				</div>
				 				<div class="clearfix"> </div>
			 				</div>
			 				<div class="service-gride1">
				 				<div class="col-md-3 service-img">
				 					<i class="icon3"> </i>
								</div>
				 				<div class="col-md-9 service-text ">
				 					<h4>desktop publishing</h4>
									<p>It is a long established fact that a reader will be distracted
									by the readable content of a page when looking at its layout.</p>
									<a class="read-more" href="online.html">Read More</a>
				 				</div>
				 				<div class="clearfix"> </div>
			 				</div>
			 				<div class="service-gride1 three">
				 				<div class="col-md-3 service-img">
				 					<i class="icon4"> </i>
								</div>
				 				<div class="col-md-9 service-text ">
				 					<h4> consectetur adipis</h4>
									<p>It is a long established fact that a reader will be distracted
									by the readable content of a page when looking at its layout.</p>
									<a class="read-more" href="online.html">Read More</a>

				 				</div>
				 				<div class="clearfix"> </div>
			 				</div>
			 			</div>
			 				<!--slide-->
			 			<div class="col-md-7 slide-section">
		<section id="slide-con">
				<section id="slide-main">
					<img src="assets/slide1.jpg" alt="">
				</section>
				<section id="slide-hidden">
					<img src="assets/slide2.jpg" alt="">
					<img src="assets/slide3.jpg" alt="">
					<img src="assets/slide1.jpg" alt="">
					<img src="assets/slide2.jpg" alt="">
					<img src="assets/slide3.jpg" alt="">
				</section>
				<section id="thumbnails">
					<div id="left-arrow" class="ui-button"><div class="icon icon-arrow-left"></div></div>
					<div id="thumbcon">

					</div>
					<div id="right-arrow" class="ui-button"><div class="icon icon-arrow-right"></div></div>
				</section>
			<section id="progressbar">
			</section>
		</section>

			<!-- Banner-Slide -->
		</div>
	</div>
	<div class="clearfix"> </div>
</div>
</div>
	<!--/End-services-->
		<div id="testimonial" class="Testimonials">
			<div class="container">
				<div class="clients-section">
					<h3>Our Clients</h3>
						<div class="clients-icons">
							<ul>
								<li><a href="#"><img src="assets/c1.png" alt=""/></a></li>
								<li><a href="#"><img src="assets/c2.png" alt=""/></a></li>
								<li><a href="#"><img src="assets/c3.png" alt=""/></a></li>
								<li><a href="#"><img src="assets/c1.png" alt=""/></a></li>
									<div class="clearfix"> </div>
							</ul>
						</div>

				 </div>
			</div>
				<div class="test-monials">
				<!--sreen-gallery-cursual-->
						<div class="sreen-gallery-cursual">
							 <!-- requried-jsfiles-for owl -->
                  <script>
                    $(document).ready(function() {
                      $("#owl-demo").owlCarousel({
                        items : 1,
                        lazyLoad : true,
                        autoPlay : true,
                        navigation : false,
                        navigationText :  false,
                        pagination : true,
                      });
                    });
							    </script>
							 <!-- start content_slider -->
						       <div id="owl-demo" class="owl-carousel">
					                <div class="item">
					                		<div class="col-md-9 testmonial-text">
						                		<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
												in some form, by injected humour, or randomised words which don't look even slightly believable.
												There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
 												some form, by injected humour, or randomised words which don't look even slightly believable.</p>
					                		</div>
					                		<div class="col-md-3 testmonial-img">
						                		<img src="assets/client1.png" class="img-responsive" alt=""/>
					                		</div>
					                		<div class="clearfix"> </div>
					                </div>
					              <div class="item">
					                		<div class="col-md-9 testmonial-text">
						                		<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
												in some form, by injected humour, or randomised words which don't look even slightly believable.
												There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
 												some form, by injected humour, or randomised words which don't look even slightly believable.</p>
					                		</div>
					                		<div class="col-md-3 testmonial-img">
						                		<img src="assets/client2.png" class="img-responsive" alt=""/>
					                		</div>
					                		<div class="clearfix"> </div>
					                </div>
					              <div class="item">
					                	<div class="col-md-9 testmonial-text">
						                		<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
												in some form, by injected humour, or randomised words which don't look even slightly believable.
												There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
 												some form, by injected humour, or randomised words which don't look even slightly believable.</p>
					                		</div>
					                		<div class="col-md-3 testmonial-img">
						                		<img src="assets/client3.png" class="img-responsive" alt=""/>
					                		</div>
					                		<div class="clearfix"> </div>
					                </div>
				              </div>
						<!--//sreen-gallery-cursual-->
					</div>
				</div>

		</div>
<!-- news-grids -->
	<div class="new-section">
		<div class="container">
						<h2>VARIOUS PRODUCTS</h2>
					</div>
			<div class="news-grids">
				<div class="news-grids-left">
						<div class="news-left-grid">
							<div class="news-left-grid-pic">
								<img src="assets/bed.jpg" title="name" />
							</div>
							<div class="news-left-grid-info">
								<h4>Chair secured</h4>
								<p>It is a long established fact that a reader will be distracted
									 by the readable content of a page when looking at its
									 layout. The point of using Lorem Ipsum is that it has
									 a more-or-less normal distribution of letters</p>
								<div class="top-grids-text three">
						<div class="top-grid-text">
							<h3>$250.00</h3>
							<label> </label>
							<p>$200.00</p>
						</div>
							<div class="top-btn">
								<a class="button rotate" href="online.html">Add to Cart</a>
							</div>
							<div class="clearfix"></div>
					</div>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="news-left-grid grid1">
							<div class="news-left-grid-info grid1 news-left-grid-info-left">
								<h4>Double bedcart</h4>
								<p>It is a long established fact that a reader will be distracted
									 by the readable content of a page when looking at its
									 layout. The point of using Lorem Ipsum is that it has
									 a more-or-less normal distribution of letters</p>
								<div class="top-grids-text three">
						<div class="top-grid-text">
							<h3>$250.00</h3>
							<label class="line1"> </label>
							<p>$200.00</p>
						</div>
							<div class="top-btn">
								<a class="button rotate" href="online.html">Add to Cart</a>
							</div>
							<div class="clearfix"></div>
					</div>
							</div>
							<div class="news-left-grid-pic news-left-grid-pic-right">
								<img src="assets/chair.jpg" title="name" />
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div class="news-grids-right">
						<div class="news-right-grid">
							<div class="news-right-grid-pic">
								<img src="assets/hall.png" title="name" />
							</div>
							<div class="news-right-grid-bottom">
								<h4>Sofa set for hall</h4>
								<p>It is a long established fact that a reader will be distracted
								 by the readable content of a page when looking at its
								 layout. The point of using Lorem Ipsum is that it has
								 a more-or-less normal distribution of letters</p>
								<div class="top-grids-text three">
						<div class="top-grid-text">
							<h3>$250.00</h3>
							<label class="line2"> </label>
							<p>$200.00</p>

						</div>
							<div class="top-btn three">
								<a class="button rotate" href="online.html">Add to Cart</a>
							</div>
							<div class="clearfix"></div>
					</div>
							</div>
						</div>
					</div>
					<div class="clearfix"> </div>
						<div class="button-two">
							<a class="button curl-bottom-right1" href="#">More</a>
					 	</div>
				</div>
				<!-- news-grids -->
			</div>
		</div>
	</div>
<!-- news-section-->
		<div class="Subscribe">
			<div class="container">
				<div class="subscribe-section">
					<div class="col-md-5 subscribe-text">
						<p>SUBSCRIBE FOR NEWS LETTER</p>
					</div>
					<div class="col-md-7 subscribe-content">
						<form>
						     	<input type="text" size="30px"  value="Email..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email...';}">
		                                <a class="button curl-top-right" href="#">    <input type="submit" value="Subscribe"></a>

			                 <div class="clearfix"> </div>
			            </form>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
