<!--/start-footer-->
<div class="footer">
  <div class="container">
    <div class="footer-grids">
      <div class="col-md-4 footer-grid bottom-nav">
        <h3>Мебель по Категориям </h3>
        <ul>
          <% @footer_furniture_categories.each do |fc| %>
              <li><a href="<%= furnitures_path(type: 'category', name: fc.name)%>"><%= fc.name %></a></li>
          <% end %>
          <div class="clearfix"> </div>
        </ul>
      </div>
      <div class="col-md-4 footer-grid bottom-nav">
        <h3>Техника по Категориям </h3>
        <ul>
          <% @footer_appliance_categories.each do |ac| %>
              <li><a href="<%= appliances_path(type: 'category', name: ac.name)%>"><%= ac.name %></a></li>
          <% end %>
          <div class="clearfix"> </div>
        </ul>
      </div>
      <div class="col-md-4  footer-grid">
        <h3>Адрес</h3>
        <div class="bottom-icons">
          <ul>
            <li><a class="home" href="#"><span> </span></a>г.Краснодар ул.Ставропольская 31-6</li>
            <li><a class="mail" href="mailto:info@example.com"><span> </span>a.k.mebbel@gmail.com</a></li>
            <div class="clearfix"> </div>
          </ul>

        </div>
        <p class="copyright">© 2014 Design by <a href="http://w3layouts.com"> W3LAYOUTS</a></p>
        <p class="copyright">© 2017 Developed by <a href="#"> LStudio</a></p>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<!--//End-foote-->