<!--/start-footer-->
<div class="footer">
  <div class="container">
    <div class="footer-grids">
      <div class="col-md-4 footer-grid bottom-nav">
        <h3>Categories </h3>
        <ul>
          <li><a href="#">Benches</a></li>
          <li><a href="#">Day Beds</a></li>
          <li><a href="#">Chairs</a></li>
          <li><a href="#">Sets</a></li>
          <li><a href="#">Sections</a></li>
          <li><a href="#">Sofa Set</a></li>
          <li><a href="#">Tables</a></li>
          <div class="clearfix"> </div>
        </ul>
      </div>
      <div class="col-md-4 footer-grid bottom-nav">
        <h3>my Account </h3>
        <ul>
          <li><a href="#">My  Orders</a></li>
          <li><a href="#">My Merchant returns</a></li>
          <li><a href="#">My Address</a></li>
          <li><a href="#">My Credit</a></li>
          <li><a href="#">Personal Info</a></li>
          <li><a href="login.html">Login</a></li>
          <li><a href="login.html">Register</a></li>
          <div class="clearfix"> </div>
        </ul>
      </div>
      <div class="col-md-4  footer-grid">
        <h3> My Address</h3>
        <div class="bottom-icons">
          <ul>
            <li><a class="home" href="#"><span> </span></a>Lorem ipsy street,Newyork</li>
            <li><a class="mail" href="mailto:info@example.com"><span> </span>123 int@example.com</a></li>
            <div class="clearfix"> </div>
          </ul>

        </div>
        <p class="copyright">Design by &nbsp;<a href="http://w3layouts.com">JLstudio</a></p>

      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<!--//End-foote-->